.form {
  display: flex;
  flex-direction: column;

  * {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 1.4rem;
    // text-align: center;
  }

  &__input {
    font-size: 1rem;
    padding: 1.5rem 2rem;
    border: none;
    background-color: #dfdad5;
    margin-bottom: 2rem;
  }

  &__submit {
    font-size: 1rem;
    padding: 1rem;
    &:hover {
      background-color: #dfdad5;
      cursor: pointer;
    }
  }
}
