.main {
  &--home {
    margin-top: 25vh;
  }
}

.section {
  &__book-info {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
}

.button {
  background-color: transparent;
  color: #48656d;
  font-weight: bold;
  border-radius: 30px;
  border: 2px solid #48656d;
  text-decoration: none;
  padding: .5rem 1rem;
  display: inline-block;
  min-width: 8rem;
  text-align: center;
  &:hover {
    background-color: #dfdad5;
  }
}

.cover {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: auto;
  min-width: 150px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;

  h3 {
    min-width: 10rem;
  }

  h3, p {
    margin: .5rem 0;
  }
}

@media (min-width: 600px) {
  .section {
    &__book-info {
      flex-direction: row;
    }
  }

  .cover {
    width: inherit;
  }

  .button {
    margin-bottom: 1rem;
  }
}
